<!-- The overlay -->
<div id="midiquinze-mobile-navbar-overlay" class="mobile-navbar-overlay">

  <!-- Overlay content -->
  <div class="mobile-navbar-overlay-content">
    <%= link_to projects_path do %>
      <h1 class="color-white">WORK</h1>
    <% end %>
    <%= link_to about_path do %>
      <h1 class="color-white">STUDIO</h1>
    <% end %>
    <%= link_to about_path do %>
      <h1 class="color-white">CONTACT</h1>
    <% end %>
  </div>

</div>
