@include media-breakpoint-only(xs) {
  #desktop-about {
    display: none !important;
  }
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
  #mobile-about{
    display: none !important;
  }
}

@include media-breakpoint-only(xl) {
  #mobile-about{
    display: none !important;
  }
}


