@include media-breakpoint-only(xs) {
  .hour {
    display: none;
  }
}

@include media-breakpoint-only(sm) {
  #desktop-about {
    display: none;
  }

  #mobile-about {
    display: none;
  }

  .midiquinze-footer {
    display: none !important;
  }

  #midiquinze-gif-loader {
    display: none;
  }

  .midiquinze-navbar {
    display: none !important;
  }

  .midiquinze-navbar-mobile {
    display: none !important;
  }

  #mq-home {
    display: none;
  }

  #mq-home-mobile {
    display: none;
  }

  #mobile-about {
    display: none;
  }

  #mq-mobile-footer {
    display: none !important;
  }

  #mq-desktop-projects-index {
    display: none;
  }

  #mq-mobile-projects-index {
    display: none;
  }
}

@include media-breakpoint-only(md) {
  #desktop-about {
    display: none;
  }

  #mobile-about {
    display: none;
  }

  .midiquinze-footer {
    display: none !important;
  }

  #midiquinze-gif-loader {
    display: none;
  }

  .midiquinze-navbar {
    display: none !important;
  }

  .midiquinze-navbar-mobile {
    display: none !important;
  }

  #mq-home {
    display: none;
  }

  #mq-home-mobile {
    display: none;
  }

  #mobile-about {
    display: none;
  }

  #mq-mobile-footer {
    display: none !important;
  }

  #mq-desktop-projects-index {
    display: none;
  }

  #mq-mobile-projects-index {
    display: none;
  }
}

@include media-breakpoint-only(lg) {
  .hour {
    display: none;
  }
}

@include media-breakpoint-only(xl) {
  .hour {
    display: none;
  }
}


