@include media-breakpoint-only(xs) {
  #mq-desktop-projects-index {
    display: none !important;
  }
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
  #mq-mobile-projects-index {
    display: none !important;
  }
}

@include media-breakpoint-only(xl) {
  #mq-mobile-projects-index {
    display: none !important;
  }
}


