<span id="project-name" class="color-gold"></span><span id="slash" class="ml-16px"></span>
<%= link_to "WORK", projects_path, class: "desktop-navbar-link display-inline-block color-#{opposite_color} ml-16px mr-7px hover-border-bottom-#{opposite_color} opacity-0dot4 text-decoration-none pb-2px" %>
<%= link_to "STUDIO", about_path, class: "desktop-navbar-link display-inline-block color-#{opposite_color} mx-7px hover-border-bottom-#{opposite_color} opacity-0dot4 text-decoration-none pb-2px"  %>
<%= link_to "CONTACT", about_path(anchor: "headingThree", from: "contact"), class: "desktop-navbar-link display-inline-block color-#{opposite_color} mx-7px hover-border-bottom-#{opposite_color} opacity-0dot4 text-decoration-none pb-2px" %>
