<div class="height-100vh pl-100px pr-100px pt-18vh pb-8vh">
  <div class="d-flex">

    <div class="position-sticky top-18vh width-100vwminus200px d-flex justify-content-end" style="height: calc(100vh - 8vh - 18vh); background-image: url('<%= image_path "mq_about_banner.jpg" %>'); background-position: center; background-size: cover;">

      <div class="d-flex flex-column width-26pc px-20px background-color-black opacity-0dot95 overflow-scroll">
          <% unless params[:from] %>
            <p class="letter-spacing-1px line-height-1dot2em pt-32px font-weight-300"><%= image_tag "about-#{opposite_color}-arrow.png", class: "height-13px mr-7px" %> <%= "MIDI:QUINZE est une agence créative spécialisée en communication visuelle print et digitale basée à Paris fondée par Jérémie et Romain. Nous aidons nos clients à faire à naître leur projet et à se développer. Nous aimons collaborer, de façon méthodique, bienveillante et exigeante." %></p>
          <% end %>

          <%= render partial: 'pages/about/desktop/accordion', locals: { opposite_color: @opposite_color} %>
      </div>

    </div>

  </div>
</div>
