<div style="height: calc(100vh - 8vh - 134px);">
  <div class="row">
    <% projects.each do |project| %>
      <div class="midiquinze-card col-md-3 mb-30px">
        <%= link_to root_path(anchor: "#{project.slug}") do  %>
            <div class="height-192px background-color-<%= opposite_color %> d-flex align-items-center justify-content-center overflow-hidden">
              <%= cl_image_tag project.logo_black.key, class: "height-192px" %>
            </div>

            <div class="overlay-white" style="height: 192px; background-image: url('<%= cl_image_path project.thumbnail.key %>'); background-position: center; background-size: cover;"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

