@include media-breakpoint-only(xs) {
  .height-work-thumbnail {
    height: 17em;
  }
}

@include media-breakpoint-only(sm) {
  .height-work-thumbnail {
    height: 17em;
  }
}

@include media-breakpoint-only(md) {
  .height-work-thumbnail {
    height: 17em;
  }
}

@include media-breakpoint-only(lg) {
  .height-work-thumbnail {
    height: 17em;
  }
}

@include media-breakpoint-only(xl) {
  .height-work-thumbnail {
    height: 30em;
  }
}

