<div id="mq-mobile-footer" class="d-flex height-8vh position-fixed bottom-0">
  <div class="mobile-navbar-overlay-footer d-flex align-items-center <%= session[:color] == "black" ? "color-white" : "color-black" %> height-8vh px-8pc width-100vw">
    <div class="mobile-navbar-overlay-footer-social d-flex width-100pc">
      <i class="fab fa-instagram font-size-24px mr-8pc"></i>
      <i class="fab fa-behance font-size-24px mr-8pc"></i>
      <i class="fab fa-linkedin-in font-size-24px"></i>
    </div>
  </div>
</div>
