<div class="midiquinze-navbar position-fixed mt-neg6px width-100pcminus200px d-flex justify-content-between">
  <%= image_tag 'midiquinze-logo-white.png' %>

  <div class="midiquinze-navbar-items d-flex align-items-end">
    <%= link_to root_path, class: "mx-7px hover-border-bottom-white" do %>
      <h5 class="color-white font-weight-700 m-0">WORK</h5>
    <% end %>
    <%= link_to root_path, class: "mx-7px hover-border-bottom-white" do %>
      <h5 class="color-white font-weight-700 m-0">STUDIO</h5>
    <% end %>
    <%= link_to root_path, class: "mx-7px hover-border-bottom-white" do %>
      <h5 class="color-white font-weight-700 m-0">CONTACT</h5>
    <% end %>
  </div>
</div>
