<div class="midiquinze-navbar position-fixed mt-neg6px width-100pcminus200px d-flex justify-content-between">
  <%= image_tag 'midiquinze-logo-white.png' %>

  <div class="midiquinze-navbar-items">
    <%= link_to root_path do %>
      <h6>WORK</h6>
    <% end %>
    <%= link_to root_path do %>
      <h6>STUDIO</h6>
    <% end %>
    <%= link_to root_path do %>
      <h6>CONTACT</h6>
    <% end %>
  </div>
</div>
