<%= link_to root_path, class: "mx-7px hover-border-bottom-white text-decoration-none" do %>
  <h5 class="color-white font-weight-700 m-0">WORK</h5>
<% end %>
<%= link_to root_path, class: "mx-7px hover-border-bottom-white text-decoration-none" do %>
  <h5 class="color-white font-weight-700 m-0">STUDIO</h5>
<% end %>
<%= link_to root_path, class: "mx-7px hover-border-bottom-white text-decoration-none" do %>
  <h5 class="color-white font-weight-700 m-0">CONTACT</h5>
<% end %>
