<div id="desktop-about">
  <%= render partial: "pages/about/desktop/desktop_about", locals: { opposite_color: @opposite_color, color: @color } %>
</div>

<div id="mobile-about">
  <%= render partial: "pages/about/mobile/mobile_about", locals: { opposite_color: @opposite_color } %>
</div>

<div class="hour">
  <%= render "shared/hour" %>
</div>
