<div id="midiquinze-gif-loader" class="background-color-black height-100vh text-align-center">
  <%= image_tag "placeholder-loader.gif", class: "height-400px" %>
</div>

<div id="home background-color-black">
  <h1>home page!</h1>

</div>

