<div id="midiquinze-gif-loader" class="background-color-black height-100vh text-align-center">
  <%= image_tag "loader-midiquinze.gif", class: "loader height-400px margin-top-10pc" %>
</div>

<div id="home" class="background-color-black height-100vh display-none">
  <h1>home page!</h1>
</div>

