<div class="height-100vh pl-100px pr-100px pt-18vh pb-8vh">
  <div style="height: calc(100vh - 8vh - 134px);">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="midiquinze-card col-md-3 mb-30px">
          <%= link_to root_path(anchor: "page-#{project.id}") do  %>
              <div class="height-192px background-color-white d-flex align-items-center justify-content-center">
                <%= image_tag project.logo, class: "height-50pc"%>
              </div>
              <%# if session[:color] == "black" %>
              <div class="overlay-white" style="height: 192px; background-image: url('<%= rails_blob_url(project.thumbnail) %>'); background-position: center; background-size: cover;"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
