<!-- DESKTOP -->
<div id="mq-desktop-projects-index" class="min-height-100vh pl-100px pr-100px pt-16vh pb-8vh">
  <%= render partial: 'projects/desktop/desktop_index', locals: { projects: @projects, color: @color, background_color: @background_color, opposite_color: @opposite_color } %>
</div>

<div id="mq-mobile-projects-index" style="overflow: auto;">
  <!-- MOBILE -->
  <%= render partial: 'projects/mobile/mobile_index', locals: { projects: @projects } %>
</div>

<div class="hour">
  <%= render "shared/hour" %>
</div>
