<div id="midiquinze-gif-loader" class="<%= background_color %> height-100vh d-flex justify-content-center">
  <%= image_tag "mq_loader_#{@color}.gif", class: "loader height-400px margin-top-10pc" %>
</div>
