.cursor-pointer {
  cursor: pointer;
}

.cursor-black-left-arrow {
  cursor: asset-url("mq_test_arrow_black_left.png"), default;
}

.cursor-black-right-arrow {
  cursor: asset-url("mq_test_arrow_black_right.png"), default;
}

.cursor-black-down-arrow {
  cursor: asset-url("mq_test_arrow_black_down.png"), default;
}

.cursor-black-up-arrow {
  cursor: asset-url("mq_test_arrow_black_up.png"), default;
}

.cursor-white-down-arrow {
  cursor: asset-url("mq_test_arrow_white_down.png"), default;
}
