.cursor-pointer {
  cursor: pointer;
}

.cursor-black-left-arrow {
  cursor: asset-url("mq_black_arrow_left.png"), default;
}

.cursor-black-right-arrow {
  cursor: asset-url("mq_black_arrow_right.png"), default;
}

.cursor-black-down-arrow {
  cursor: asset-url("mq_black_arrow_down.png"), default;
}

.cursor-black-up-arrow {
  cursor: asset-url("mq_black_arrow_up.png"), default;
}

.cursor-white-down-arrow {
  cursor: asset-url("mq_white_arrow_down.png"), default;
}
