.cursor-black-left-arrow {
  cursor: asset-url("black-left-arrow.png"), default;
}

.cursor-black-right-arrow {
  cursor: asset-url("black-right-arrow.png"), default;
}

.cursor-black-down-arrow {
  cursor: asset-url("black-down-arrow.png"), default;
}
