// px

.font-size-11px {
  font-size: 11px;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-24px {
  font-size: 24px;
}



.font-size-34px {
  font-size: 34px;
}

.font-size-64px {
  font-size: 64px;
}


.font-size-11vh {
  font-size: 11vh;
}


// em

.font-size-2em {
  font-size: 2em;
}

.font-size-7em {
  font-size: 7em;
}

// px

.font-size-26px {
  font-size: 26px;
}

.font-size-32px {
  font-size: 32px;
}

// vh

.font-size-7vh {
  font-size: 7vh;
}

