.hover-color-gold-text-decoration-none {
  &:hover {
    color: $gold;
    text-decoration: none;
  }
}

.hover-text-decoration-underline-cursor-pointer {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.hover-border-bottom-white {
  &:hover {
    color: white;
    opacity: 1;
    &:after {
      width: 100%;
    }
  }
}

.hover-border-bottom-black {
  &:hover {
    border-bottom: 1px solid black;
    color: black;
    opacity: 1;
  }
}

.hover-black {
  &:hover {
    color: black;
    opacity: 1;
  }
}

.desktop-navbar-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.desktop-footer-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}



