.hover-color-gold-text-decoration-none {
  &:hover {
    color: $gold;
    text-decoration: none;
  }
}

.hover-text-decoration-underline-cursor-pointer {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}



.hover-black {
  &:hover {
    color: black;
    opacity: 1;
  }
}





