.hover-border-bottom-white {
  &:hover {
    border-bottom: 1px solid white;
    color: white;
  }
}


.hover-border-bottom-black {
  &:hover {
    border-bottom: 1px solid black;
    color: black;
  }
}

.hover-black {
  &:hover {
    color: black;
  }
}
