.mb-5px {
  margin-bottom: 5px;
}

.mb-30px {
  margin-bottom: 30px;
}

.ml-7px {
  margin-left: 7px;
}

.mr-7px {
  margin-right: 7px;
}

.mt-134px {
  margin-top: 134px;
}

.mt-neg6px {
  margin-top: -6px;
}

.mx-7px {
  margin: 0 7px;
}

.margin-top-10pc {
  margin-top: 10%;
}
