.mb-8pc {
  margin-bottom: 8%;
}

.mb-3px {
  margin-bottom: 3px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-8px {
  margin-bottom: 8px;
}

.mb-16px {
  margin-bottom: 16px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mb-100px {
  margin-bottom: 100px;
}

.ml-neg14pc {
  margin-left: -14%;
}

.ml-neg170px {
  margin-left: -170px;
}

.ml-neg163px {
  margin-left: -163px;
}

.ml-neg128px {
  margin-left: -128px;
}

.ml-neg100px {
  margin-left: -100px;
}

.ml-neg86px {
  margin-left: -86px;
}

.ml-5pc {
  margin-left: 5%;
}

.ml-7px {
  margin-left: 7px;
}

.ml-14px {
  margin-left: 14px;
}

.ml-16px {
  margin-left: 16px;
}

.ml-24px {
  margin-left: 24px;
}

.ml-50px {
  margin-left: 50px;
}

.mr-neg100px {
  margin-right: -100px;
}

.mr-8pc {
  margin-right: 8%;
}

.mr-7px {
  margin-right: 7px;
}

.mt-neg8vh {
  margin-top: -8vh;
}

.mt-neg137px {
  margin-top: -137px;
}

.mt-neg133px {
  margin-top: -133px;
}

.mt-neg33px {
  margin-top: -33px;
}

.mt-neg6px {
  margin-top: -6px;
}

.mt-neg3pc {
  margin-top: -3%;
}

.mt-neg2px {
  margin-top: -2px;
}

.mt-neg1px {
  margin-top: -1px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-134px {
  margin-top: 134px;
}

.mt-18vh {
  margin-top: 18vh;
}

.mx-7px {
  margin: 0 7px;
}

.margin-top-10pc {
  margin-top: 10%;
}

.mb-36vh {
  margin-bottom: 36vh !important;
}

// USED

.ml-neg15dot7pc {
  margin-left: -15.7%;
}

.mt-neg6pc {
  margin-top: -6%;
}

// em

.mb-1em {
  margin-bottom: 1em;
}

