.pb-1pc {
  padding-bottom: 1%;
}

.pb-3pc {
  padding-bottom: 3%;
}

.pb-2px {
  padding-bottom: 2px !important;
}

.pb-24px {
  padding-bottom: 24px !important;
}

.pb-50px {
  padding-bottom: 50px;
}

.pb-8vh {
  padding-bottom: 8vh;
}

.pb-36vh {
  padding-bottom: 36vh;
}

.pl-20px {
  padding-left: 20px;
}

.pl-100px {
  padding-left: 100px;
}

.pr-100px {
  padding-right: 100px;
}

.pt-50px {
  padding-top: 50px;
}

.pt-134px {
  padding-top: 134px;
}

.pt-16vh {
  padding-top: 16vh;
}

.pt-18vh {
  padding-top: 18vh;
}

.px-100px {
  padding-left: 100px;
  padding-right: 100px;
}
