.pb-1pc {
  padding-bottom: 1%;
}

.pb-3pc {
  padding-bottom: 3%;
}

.pb-2px {
  padding-bottom: 2px !important;
}

.pb-5px {
  padding-bottom: 5px !important;
}

.pb-24px {
  padding-bottom: 24px !important;
}

.pb-50px {
  padding-bottom: 50px;
}

.pb-8vh {
  padding-bottom: 8vh;
}

.pb-36vh {
  padding-bottom: 36vh;
}

.pl-8pc {
  padding-left: 8%;
}

.pl-20px {
  padding-left: 20px;
}

.pl-24px {
  padding-left: 24px;
}

.pl-32px {
  padding-left: 32px;
}

.pl-36px {
  padding-left: 36px;
}

.pl-50px {
  padding-left: 50px;
}

.pl-64px {
  padding-left: 64px;
}

.pl-100px {
  padding-left: 100px;
}

.pr-32px {
  padding-right: 32px;
}

.pr-50px {
  padding-right: 50px;
}


.pr-100px {
  padding-right: 100px;
}

.pr-100px-last-child {
  &:last-child {
    padding-right: 100px;
  }
}

.pt-16pc {
  padding-top: 16%;
}

.pt-32px {
  padding-top: 32px;
}

.pt-50px {
  padding-top: 50px;
}

.pt-134px {
  padding-top: 134px;
}

.pt-8vh {
  padding-top: 8vh;
}

.pt-16vh {
  padding-top: 16vh;
}

.pt-18vh {
  padding-top: 18vh;
}

.px-8pc {
  padding-left: 8%;
  padding-right: 8%;
}

.px-20px {
  padding-left: 20px;
  padding-right: 20px;
}


.px-100px {
  padding-left: 100px;
  padding-right: 100px;
}

.pt-26px {
  padding-top: 26px;
}

.py-72px {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-80px {
  padding-top: 80px;
  padding-bottom: 80px;
}

// FIRST CHILD

.pl-0-except-first-child {
  &:not(:nth-child(4n+1)) {
    padding-left: 0px;
  }
}


.pr-0-except-last-child {
  &:not(:nth-child(3n)) {

  }
}

// LAST CHILD
