.width-10px {
  width: 10px;
}

.width-13px {
  width: 13px;
}

.width-24px {
  width: 24px;
}

.width-100pcminus200px {
  width: calc(100% - 200px);
}

.width-50pc {
  width: 50%;
}

.width-100pc {
  width: 100%;
}

.width-100vwminus200px {
  width: calc(100vw - 200px);
}
