<div class="mq-home-mobile-projects-wrapper pt-16vh">
  <% projects.each_with_index do |project, index| %>

    <%= link_to root_path(anchor: "mobile-#{project.slug}", from: "thumbs") do %>
      <div class="mq-home-mobile-project-cover background-color-<%= opposite_color %> height-32vh <%= projects.count == (index + 1) ? "" : "mb-16px" %>" style="background-image: url('<%= cl_image_path project.thumbnail.key %>'); background-position: center; background-size: cover;">
      </div>
    <% end %>

  <% end %>
</div>

