<% projects.each_with_index do |project, project_index| %>

  <div class="mobile-vertical-snap mobile-projects-map d-flex">
    <section class="mobile-horizontal-snap height-100vh">
      <div id="mobile-<%= project.slug %>" class="width-100vw" style="height: 100vh; background-image: url('<%= cl_image_path project.mobile_cover.key %>'); background-position: center; background-size: cover;">
        </div>
    </section>

    <%= render partial: 'pages/home/mobile/mobile_project_photos', locals: {project: project, project_index: project_index} %>
  </div>

<% end %>
