.color-button-white {
  background-color: white;
  border: 2px solid white;

  &:hover {
    border: 2px solid #fff;
    background-color: black;
    cursor: asset-url("mq_test_arrow_white_up.png") 20 8, auto !important;
    // cursor: asset-url("small-white-arrow.png") 7 0, pointer !important;
  }
}

.color-button-black {
  background-color: black;
  border: 2px solid black;

  &:hover {
    border: 2px solid black;
    background-color: white;
    cursor: asset-url("mq_test_arrow_black_up.png") 20 8, auto !important;
    // cursor: asset-url("small-black-arrow.png") 7 0, pointer !important;
  }
}

.rotation-clockwork45 {
  transform: rotate(45deg);
  transition-duration: 0.7s;
}

