.projects-map {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.horizontal-snap {
  border-right: 1px solid white;
  height: 100vh;
  scroll-snap-align: center;
}

main {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.vertical-snap {
  scroll-snap-align: start !important;
}
