.thumbnail-opacity {
  opacity: 0.4;
  transition-property: opacity;
  transition-duration: 0.9s;
}

.thumbnail-background-color-white {
  // background: white;
  // transition-property: background;
  // transition-duration: 0.9s;
}


.thumbnail {
  transition: 0.9s ease;
}
